<a href="https://colab.research.google.com/github/Sudhansusethy/Sudhansu_22_071/blob/main/SET_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Triangle area
b = int(input('Enter b = '))
h = int(input('Enter h = '))
area = 0.5*b*h
print('AREA OF TRIANGLE :',area)
#Triangle perimeter
a = int(input('Enter a = '))
b = int(input('Enter b = '))
c = int(input('Enter c = '))
perimeter =a*b*c
print('PERIMETER OF TRIANGLE :',perimeter)
l = int(input('Enter l = '))
b = int(input('Enter b = '))
area = l*b
print('AREA OF RECTANGLE :',area)

Enter b = 5
Enter h = 8
AREA OF TRIANGLE : 20.0
Enter a = 4
Enter b = 9
Enter c = 5
PERIMETER OF TRIANGLE : 180
Enter l = 78
Enter b = 3
AREA OF RECTANGLE : 234

In [ ]:
for var in "ABIT":
  if var =="B":
    continue
  print(var)

A
I
T

In [ ]:
for i in range (10):
  print(i)
  if i==2:
    break

0
1
2

In [ ]:
x = abs(-7.6)
print(x)

7.6

In [ ]:
list = [1,2,3]
a = all(list)
print(a)

True

In [ ]:
tuple = (0,1,False)
a = any(tuple)
print(a)

True

In [ ]:
a = ascii("Mostly SÃ¥ne")
print(a)

'Mostly S\xe5ne'

In [ ]:
a = bin(30)
print(a)

0b11110

In [ ]:
def show():
  print('Hello CSE')

show()

Hello CSE

In [ ]:
def ADD(a,b):
  c = a + b
  print('SUM OF TWO NOS. :',c)
ADD(19,71)

SUM OF TWO NOS. : 90

In [ ]:
def ADD(a,b):
  c = a + b
  print('SUM OF TWO NOS. :',c)
p=int(input("Enter 1st nos."))
q=int(input("Enter 2nd nos."))
ADD(p,q)

Enter 1st nos.19
Enter 2nd nos.71
SUM OF TWO NOS. : 90

In [ ]:
def sumofn(n):
    s = 0
    for i in range(1, n+1):
        s += i
    return s

m = int(input("Enter n = "))
print('sum of n = ', sumofn(m))

Enter n = 19
sum of n =  190

In [ ]:
def print_pattern(rows):
    num = 1
    for i in range(1,rows + 1):
        for j in range(1,i + 1):
            print(num,end=" ")
            num  += 1
        print()
print_pattern(int(input('Enter rows')))

Enter rows6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [ ]:
list=['P','Y','T','H','O','N']
print(list)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
list=[10,20,30,40,50,60,70,80,90]
print(list[2:3])

[30]

In [ ]:
list=[10,20,30,40,50,60,70,80,90]
print(list[4:])

[50, 60, 70, 80, 90]